*, ::before, ::after {
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}

html, body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin: 2px;
  border: 0;
  border-radius: 3px;
  background: white;
  background: linear-gradient(135deg, #F5F5F5, #E5E5E5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}
button.twitter {
  background: #1DA1F2;
  background: linear-gradient(135deg, #1DA1F2, #2D81FD);
  color: white;
}

hr {
  color: #E5E5E5;
  margin: 20px 0;
}

strong, b {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #62d6fb;
}

a.external:hover::after {
  margin-left: 5px;
  line-height: 100%;
  position: absolute;
  content: '↗';
}

/**
 * Header
 */
div.header-container {
  height: 200px;
  background-color: #070a0c;
  margin-bottom: 70px;
}

header, footer, main {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px;
}

header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  text-align: center;
}
header div {
  min-width: 100%;
}
header div.header-buttons {
  margin-top: 10px;
  text-align: center;
}

header div.status-header {
  margin-top: 20px;
  width: 100%;
  padding: 30px 35px;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  background-color: white;
}
header div.status-content {
  padding: 15px 20px;
  border-radius: 3px;
  background: #F5F5F5;
  font-weight: 500;
}
header div.status-content.green {
  background-color: #71BF60;
  color: white;
}
header div.status-content.yellow {
  background-color: #ffcc00;
  color: white;
}
header div.status-content.orange {
  background-color: #ff9900;
  color: white;
}
header div.status-content.red {
  background-color: #DD0000;
  color: white;
}

@media (min-width: 620px) {
  header {
    text-align: justify;
    padding-top: 50px;
  }
  header div {
    min-width: 50%;
  }
  header div.header-buttons {
    margin-top: 0;
    text-align: right;
  }
  header div.status-header {
    margin-top: 40px;
  }
}

/**
 * Main
 */
main {
  display: flex;
  flex-wrap: wrap-reverse;
}
main div.announcement-container,
main div.components-container,
main div.incidents-container {
  margin-bottom: 25px;
  width: 100%;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
}

main div.announcement-container {
 padding: 20px 25px;
}
main div.announcement-container div.announcement-title {
  font-size: 1.5em;
  margin-bottom: 5px;
}

main div.components-container div {
  padding: 12px 5px;
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
}
main div.components-container div.title {
  font-weight: 500;
}
main div.components-container div.component {
  border-top: 1px solid #E5E5E5;
}
main div.components-container div.component span.status {
  color: #AAA;
}

main div.incidents-container div.title,
main div.incidents-container div.date {
  padding: 10px 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #E5E5E5;
}
main div.incidents-container div.title {
  color: #777;
}
main div.incidents-container div.date {
  background-color: #F7F7F7;
  color: #AAA;
  font-size: .9em;
}
main div.incidents-container div.incidents {
  padding: 10px 15px;
  color: #AAA;
}
main div.incidents-container div.incidents div.incident {
  color: #555;
}
main div.incidents-container div.incidents div.incident div {
  margin-bottom: 10px;
}
main div.incidents-container div.incidents div.incident div.incident-title {
  font-size: 1.5em;
  font-weight: 500;
}
main div.incidents-container div.incidents div.incident div.incident-description.resolved {
  opacity: .4;
}
main div.incidents-container div.incidents div.incident div.incident-description.resolved:hover {
  opacity: 1;
}
main div.incidents-container div.incidents div.incident span.incident-report-date {
  font-size: .9em;
  color: #AAA;
}

/**
 * Footer
 */
div.footer-container {
  bottom: 0;
  width: 100%;
}

footer div.footer-content {
  display: flex;
  justify-content: space-between;
  font-size: .9em;
  color: #AAA;
}
